body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

p{
  color: grey;
}
#title{
  background-color: #ff4c68;
  padding: 3% 15% 5%;
}

.brand-title{
  font-family: 'Ubuntu', sans-serif;
  font-weight:700;
  font-size: 2.5rem;
}

.links{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.20rem;
}

.nav-list{
  padding: 0 18px;
}

.navbar{
  padding: 0 0 4.5rem
}
.title-quote{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

.btn-download{
  margin: 5% 3% 5% 0;
}

.fa-brands{
  margin: 8px;
}
.title-img{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}


/*features section*/
#features{
  padding: 7% 14%;
  text-align: center;
  position: relative;
  background-color: white;
  z-index: 1;
}

.fa-icons{
  margin: 1rem;
  color: #ef8172;

}

.fa-icons:hover{
  color: #ff4c68;
  }

  .feature-title{
    font-size: 1.5rem;
    font-weight: 900;
  }
.feature-col{
  padding: 5%;
}
/*testimonials section*/
#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: white;
}

.testimonial-image{
  border-radius: 50%;
  width: 10%;
  margin: 20px;
}

.testimonial-text{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

.carousel-item{
  padding: 7% 14%;
}
/*press section*/

#press{
  background-color: #ef8172;
  text-align: center;
  color: white;
  padding: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px;
}

/*pricing section*/

#pricing{
  text-align: center;
  padding: 100px;
}

.price-heading, .price-text{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
/*CTA section*/
#cta{
  background-color: #ff4c68;
  padding: 7% 14%;
  text-align: center;
}
.cta-title{
  font-weight: 900;
  line-height: 1.5;
  color: white;
}

#footer{
  text-align: center;
  padding: 7% 14%;
}

.foot-icon{
  padding: 20px 10px;
}

@media (max-width: 1024px) {
  .title-quote{
    font-size: 3rem;
  }
  .title-img{
    transform: rotate(0);
  }
  .btn-download{
    margin-right: 6px;
  }
}

@media (max-width: 768px) {

  .title-img{
    position: relative;
    left: 100px;
    width:60%;
  }
  .column-one{
    text-align: center;
  }
}
